START HERE

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;

  display: block;
  padding: 0;
  position: relative;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: #191919;
}

a:hover {
  color: #333333;
}
